@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'qatar';
	src: url('/qatar2022/Qatar2022Arabic-Bold.ttf') format('truetype');
}

body {
	font-family: 'qatar';
}
